<div>
    <select ng-model="myColor" ng-options="color as color.text for color in colors" ng-change="changeColor()"></select>
</div>
<div>
    <select ng-model="myColor2" ng-options="color as color.text group by color.type for color in colors" ng-change="changeColor()"></select>
</div>
<div>{{newcolor.text}}</div>
<span ng-class ="newcolor.class" ng-model="myColor">Some text</span>

<div>
    <input ng-model="primul">
    <input ng-model="second">
    <span ng-repeat="color in colors | orderBy : second">{{color.text}}<br></span>
    <span ng-repeat="color in colors | filter : primul">{{color.text}}<br></span>
</div>