<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Demo Math</title>
</head>
<body>
<div ng-app="hrApp">
        <div>
                 Number A: <input type="number" ng-model="A"/> Number B: <input type="number" ng-model="B"/>
            <p> Suma: <span ng-bind="A+B"></span> Diferenta: <span ng-bind="A-B"></span>  </p>
            <p> Inmultirea: <span ng-bind="A*B"></span> Impartirea: <span ng-bind="A/B"></span></p>
        </div>
</div>
<script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>