<div ng-app=hrApp>
    <div ng-controller="MathController">
    <!--TODO #7-->
    <p>Number a: <input type="number" ng-model="A"></p>

    <p>Number b: <input type="number" ng-model="B"></p>

    <p>
        <button ng-click="calculate()">Calculate</button>
        <!--TODO Button for calculating values-->
        
    </p>

    <p> a + b = <span>{{op1}}</span></p>

    <p> a - b = <span>{{op2}}</span></p>

    <p> a * b = <span>{{op3}}</span></p>

    <p> a / b = <span>{{op4}}</span></p>
    </div>
</div>